.pagehead {
    border-width: 2px;
    border-color: black;
    border-style: solid;
    font-size: 30px;
}

.recipelinks {
    background-image: url("../img/globe.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 500px 500px;
    width: 100%;
    min-height: 500px;
    padding: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10%;
    grid
}

.recipecard1 {
    background-color: white;
    border-style: none;
    border-radius: .5rem;
    box-shadow: 0 1px 10px 0 black;
}

.recipecard2 {
    background-color: white;
    border-style: none;
    border-radius: .5rem;
    box-shadow: 0 1px 10px 0 black;
}

.recipecard3 {
    background-color: white;
    border-style: none;
    border-radius: .5rem;
    box-shadow: 0 1px 10px 0 black;
}

.recipecard4 {
    background-color: white;
    border-style: none;
    border-radius: .5rem;
    box-shadow: 0 1px 10px 0 black;
}