.pagehead {
    color: black;
    text-align: center;
    font-size: 3em;
}

.recipes {
    background-image: url("../img/globe.png");
    background-repeat: no-repeat;
    background-position: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    grid-gap: 1rem;
    padding: 1rem;
    justify-items: center;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    padding: 1rem;
    background-color: white; 
    border-style: none;
    border-radius: .5rem;
    box-shadow: 0 1px 10px 0 black;
}

.card__img {
    border-radius: .5rem;
}

.card__link {
    color: black;
    font-size: 1.5em;
    margin-top: 5%; 
}

.card__link:hover {
    background-color: rgb(34, 73, 34);
    color: white
}
