body {
    background-color: white;
}

.pagehead {
    color: rgb(2, 32, 2);
    text-align: center;
    font-size: 3em;
}

.recipelinks {
    background-image: url("../img/globe.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    min-height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.recipecard1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 40%;
    background-color: white; 
    border-style: none;
    border-radius: .5rem;
    box-shadow: 0 1px 10px 0 black;
}

.recipecard2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 40%;
    background-color: white;
    border-style: none;
    border-radius: .5rem;
    box-shadow: 0 1px 10px 0 black;
}

.recipecard3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 40%;
    background-color: white;
    border-style: none;
    border-radius: .5rem;
    box-shadow: 0 1px 10px 0 black;
}

.recipecard4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 40%;
    background-color: white;
    border-style: none;
    border-radius: .5rem;
    box-shadow: 0 1px 10px 0 black;
}